name: Auto Delete Codespace When Branch Deleted

on:
  delete:

jobs:
  delete-codespace:
    if: github.event.ref_type == 'branch'
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:

      - name: Debug list files
        run: ls -R
    
      - name: Make script executable
        run: chmod +x script/delete_codespace.sh
    
      - name: Delete Codespace for Deleted Branch
        env:
          TOKEN: ${{ secrets.CODESPACE_PAT }}
          REPO: ${{ github.repository }}
          BRANCH: ${{ github.event.ref }}
        run: |
          ./script/delete_codespace.sh "$REPO" "$BRANCH" "$TOKEN"
